.App {
  text-align: center;
  background-color: var(--background-color);
  color:var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



.App-link {
  color: #61dafb;
}
.App[theme='default']{
  --text-color:#1e2c73;
  --background-color:#d6d1ce;
  --background-color-2:#5972ac;
  --primary-color:#84b5d8;
}
.App[theme='dark']{
  --text-color:#42a6fe;
  --background-color:#0b1659;
  --background-color-2:#233fb7;
  --primary-color:#85e8ff;
}
