.App {
  text-align: center;
  background-color: var(--background-color);
  color:var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



.App-link {
  color: #4ad4fb;
}
.App[theme='default']{
  --text-color:#2b3d97;
  --background-color:#bab5b2;
  --background-color-2:#5ca6d0;
  --primary-color:#6b95b4;
}
.App[theme='dark']{
  --text-color:#2e95ee;
  --background-color:#101f7e;
  --background-color-2:#1d359f;
  --primary-color:#73e0f8;
}
